#firstRowHomePage {
  min-height: 100vh;
  background-image: url("img/fondDev.jpg");
  background-position: center;
}
.scrolled {
  background-color: white;
}
#text-presentation {
  background-color: #0c0c0cc9;
  margin-top: -100px;
}
.Description {
  max-width: 550px;
  margin:15px auto;
  font-size: 16px;
}
.text-bienvenue {
  font-size: 22px;
}
.big-text {
  font-size: 50px;
  font-weight: bold;
}
#mouseBtn i{
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: 0.5s;
}

#mouseBtn i:hover {
  color: white;
  bottom: 30px;
  font-size: 50px;
  transform: translate(-50%, -50%) rotate(0deg);
  cursor: pointer;
}

a{
  color: white;
}

.btn-social-share{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.all-competences img{
  max-width: 100px;
  margin: auto;
}

#about {
  background-color: rgba(110, 110, 110, 0.164);
}

a.nav-link.active{
  color: rgb(79, 79, 255) !important
}

#navbarSite {
  transition: 0.8s;
  z-index: 1000;
}
#available{
  background-color: rgba(110, 110, 110, 0.164);
}
.temoignage-text{
  color: rgba(110, 110, 110, 0.904);
}
.testimonial-icon{
  color: rgba(36, 36, 250, 0.76);
  padding: 30px;
  font-size: 45px;
}
#clients{
  padding-bottom: 100px !important
}
#scroll-top-button{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: blue;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
#scroll-top-button :hover{
  font-size: 28px;
  transition: all 0.5s;
}

#scroll-top-button.show{
  opacity: 1;
  visibility: visible;
}

#réalisation img.réalisation-img{
  max-width: 100%;
}
#img-projet1{
  border-radius: 10px 10px 10px 10px;
}
#img-projet2{
  border-radius: 10px 10px 10px 10px;
}

#réalisation a{
  color: white;
  text-decoration: none;
}

#réalisation a:hover{
  color: white;
  text-decoration: underline;
  font-size: 18px;
}
.contact-container .contact-header i{
  font-size: 45px;
  display: block;
  margin-bottom: 10px;
}

.contact-container .contact-heander h3{
  font-weight: 300;
  font-size: 20px;
}

#contact{
  background-color: rgba(110, 110, 110, 0.164);
}
.contact-container .contact-body a{
  text-decoration: none;
}
.footer-page div{
  margin: 30px;
}

.footer-page{
  background-color: black;
  padding: 30px;
}

.footer-page a{
  text-decoration: none;
}
